anyio
asgiref
beautifulsoup4
certifi
charset-normalizer
Django
django-cors-headers
djangorestframework
h11
h2
hpack
httpcore
httpx
hyperframe
idna
mysqlclient
packaging
pillow
pytchat
pytesseract
python-decouple
requests
sniffio
soupsieve
sqlparse
urllib3
